.contactContainer {
  display: flex;
  h2 {
    margin-bottom: 15px;
    color: var(--secondaryColor);
    text-transform: capitalize;
  }
  .coordonnees {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    gap: 30px;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--secondaryColor);
      a {
        color: var(--secondaryColor);
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    .adresse {
      h2 {
        margin-bottom: 35px;
      }

      a {
        color: var(--secondaryColor);
      }
      p {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
        color: var(--secondaryColor);
        svg {
          margin-right: 5px;
          font-size: 18px;
        }
      }
    }
    .socialNetworks {
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 35px;
      }
      ul {
        display: flex;
        gap: 30px;
        list-style-type: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contactContainer {
    padding: 30px 2%;
    flex-direction: column;
    // form {
    //   padding: 0;
    //   width: 100%;
    //   .names {
    //     flex-direction: column;
    //     div {
    //       width: 100%;
    //     }
    //   }
    //   button {
    //     width: fit-content;
    //     align-self: center;
    //   }
    // }
    .coordonnees {
      padding: 30px 2%;
      width: 100%;
    }
    .links {
      padding: 30px 2%;
      .socialNetworks {
        h2 {
          text-align: left;
        }
        ul {
          margin: auto;
        }
      }
    }
  }
}
