.page404Container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  main{
    height: 100%;flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;gap: 50px;
    svg{
        font-size: 90px;
    }
    p{
        font-size: 100px;font-style: italic;
    }
  }
}

@media screen and (max-width: 768px){
    .page404Container{
        main{
            gap: 15px;
            svg{
                font-size: 30px;
            }
            p{font-size: 35px;}
        }
    }
}